<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo_incubadora_empresas.jpg" alt="" width="91">
      <img src="assets/logo_Tese_completo.png" alt="" width="300">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-lg-auto">
        <li class="nav-item"><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="">Acerca de Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="">Objetivo</a></li>
        <li class="nav-item"><a class="nav-link" href="">Mision/Vision</a></li>
      </ul>
    </div>
  </div>
</nav>

